*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.nav-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  background-color: #034FC9;
  width: 100%;
  padding: 15px 0;
  font-size: 13px;
  color: #d2d8e0;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-left img{
  width: 200px;
}
nav span{
  margin-left: 20px;
}
nav span:hover{
  color: white;
}
nav i{
  color: #d2d8e0;
}
header{
  background-image: url("img/blueback.svg");
  background-size: cover;
  padding: 80px 0;
}
.claim{
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.claim h1{
  font-size: 60px;
  font-weight: 800;
}
.modulo{
  background-color: white;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}
.modulo *{
  width: 90%;
}
.modulo .white{
  font-size: 30px;
  color: #022670;
  font-weight: 700;
}
.modulo .blue{
  color: #0069FF;
  font-size: 30px;
  font-weight: 700;
}
.create-account, .sign-up{
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
}
.create-account{
  background: #0069FF;
  color: white;
}
.sign-up{
  border: 1px solid grey;
  color: #757575;
  position: relative;
}
.sign-up>img{
  width: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

}
.modulo input{
  height: 50px;
  border: 1px solid lightgrey;
  margin: 10px auto;
  padding-left: 15px;
}
#agree{
  font-size: 10px;
}
.partner{
  text-align: center;
  background: #F3F5F9;
  padding: 50px 0;
  font-weight: 600;
}
.partner-logo img{
  width: 150px;
  margin: auto 15px;
}
.partner>p{
  color: #93979b;
}
.partner>span, i{
  color: #0069ff;
}
.title-cont{
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 15px 0 45px 0;
}
.deploy-section{
  padding: 100px 0;
  color: #4E5F83;
}
.item-list{
  padding: 15px 25px;
  border-left: 2px solid lightgrey;
  line-height: 2;
  font-weight: 600;
}
#selected-blue{
  border-left: 2px solid blue;
  color: blue;
}
.wd-table{
  width: 60%;
}
.blue-h2{
  font-size: 35px;
  color: #031B73;
  font-weight: bold;
  text-align: center;
}
.sub-title{
  color: #4E5F83;
  font-size: 20px;
  text-align: center;
}
.right-section img{
  margin-bottom: 20px;
}
.blue-h5{
    color: #031B73;
    font-weight: bold;
    font-size: 1em;
}
.left-section{
  margin-bottom: 30px;
}
.screen-section{
  background-color: #F3F5F9;
  text-align: center;
  padding: 50px 0;
}
.screen-img img{
  max-width: 60%;
  padding-bottom: 50px;
}
.screen-img{
  margin: 35px 0;
}
.dot{
  display: inline-block;
  border: 2px solid blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#filled-dot{
  background: blue;
}
.feature-title{
  margin-bottom: 40px;
}
.object img{
  margin: 15px 0;
}
.feature{
  padding: 100px 0;
}
.world-map{
  background-image: url("img/map.svg"), linear-gradient(#0047c6 0,#001d99);
  background-size: cover;
  padding: 100px 0;
}
.map-title h2{
  color: white;
  font-weight: 800;
}
.city{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
  height: 50px;

}
.city-name{
  font-weight: 600;
  color: white;
}
.city span{
  color: lightgrey;
}
#no-border{
  border: none;
}
.region{
  margin: 50px 0;
}
